body {
    margin: 0;
    padding: 0;  
}
html, body {
    scroll-behavior: smooth;
}

.number-container {
    position: relative;
}

.dollar-sign {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #999;
    font-weight: bold;
}